html;body{margin:0;
    padding:0;
    width:100%;
    font-size:62.5%;
    box-sizing:border-box;
    border:0;
}

body{
    margin:0 auto;
    padding:0;
    height:100%;
    width:100%;
    text-align: center;
    background-color:black;
}

header{margin:0 auto;
    padding:0;
    height:8rem;
    width:100%;
    display:block;
    font-size:2rem;
    background-color:#962221;
}

#parade_img{margin:0;
    padding:10px;
    height:110px;
    width:110px;
    display:block;
    float:left;
}

#table_img{margin:0 auto;
     padding:10px;
     height:100px; 
     width:80px;
     float:right;
}



header>nav{
    margin:0 auto;
    padding: 0;
    height:6rem;
    width:75%;
    display:block;
    text-align:center;
    
  
    
}

header > nav > ul{
    margin:0;
    padding: 0;
    display:inline-block;
    list-style:none;
    color:#ffffff;
    width: 100%;
    height:30%;
    
 
}

header > nav > ul > li{
margin:0 auto;
padding:10px;
display:inline;
line-height:185px;
width:calc(100%/5);
font-size:20px;
text-align: center;
float: left;
    
}

a{ color:#fff;
    text-decoration: none;
    }

a:hover{
    text-decoration: underline;
}

main{margin:0 auto;
    padding:0;
    height:30rem;
    width:90%;
    background-color:#ffffff;
}

#flag_img{margin:0;
    padding:10px;
    height:200px;width:500px;
text-align:center;
}

#sec1{
    margin:0 auto;
    padding:10px;
    height:300px;
    width:100%;
    box-sizing: border-box;
    display: block;
}

#times{
    margin:0 auto;
    padding:5px;
    border:50px;
    width:calc(100%/2);
    height: 200px;
    font-size: 15px;
    box-sizing: border-box;
    float:left;
}

#info{
     margin:0 auto;
    padding:5px;
    border:50px;
    width:calc(100%/2);
    height: 200px;
    font-size: 15px;
    box-sizing: border-box;
    float:right;
}


footer{height:8rem;
    width:100%;
    font-size:1.5rem;
    vertical-align:baseline;
    text-align: center;
    background-color:#962221;
}

#donate{margin:0 auto;
    padding:0px;
    line-height:12;
    height:75px;
    width:75px;
    display:inline-block;
    background-color:#962221;
  }


    
.branch{margin:0 auto;
    padding:20px;
    display:inline;
    line-height: 15;
    height:60px;
     width:60px;
     display:inline-block;
     float:left;
    background-color:#962221
 }

   
#facebook{margin:0 auto;
    padding:20px;
    display:inline;
    line-height: 15;
    height:75px;
     width:75px;
     display:inline-block;
     float:right;
    }
    

/*parade_page*/


#map{margin:0;
    padding:10px;
    height:200px;width:500px;
    text-align:center;
}

#sec1{
    margin:0 auto;
    padding:10px;
    height:300px;
    width:100%;
    box-sizing: border-box;
    display: block;
}

#direction{  margin:0 auto;
    padding:5px;
    border:50px;
    width:calc(100%/2);
    height: 200px;
    font-size: 15px;
    box-sizing: border-box;
        float:left;
}


/*press_release*/

#main_pressrelease{
   margin:0 auto;
    padding:0;
    border:0;
    width:100%;
    height:100%;
    font-size:8px;
    box-sizing: border-box; 
}


#sec_ash{
    margin:0 auto;
    padding:0;
    border:0;
    width:100%;
    height:100%;
    font-size: 15px;
    box-sizing: border-box;}

#img_ash{margin:20px;
    padding:10px;
    border:solid color:#555555; 
    width:200px;
    height:150;
    font-size: 15px;
    box-sizing: border-box;
    float:left;
    background-color:#962221;
}

/*#p_ash{margin:20;
    padding:10px;
    border:0px;
    width:65%;
    height: 100%;
    font-size: 10px;
    box-sizing: border-box;
    float:right;
    background-color:blueviolet;}


#posters{margin:0 auto;
    padding:5px;
    border:50px;
    width:calc(100%/2);
    height: 200px;
    font-size: 15px;
    box-sizing: border-box;
    float:right
}*/


/*about_us_page*/

body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    font-size:11px;
}


nav{
    Margin:0 auto;
    display:block;
    width:100%;
    height:100%;
    text-align: center;
}

nav > ul{margin:0;
padding:0;
display:inline-block;
    }

nav > ul > li{
    margin:0;
    padding:0;
    display:inline-block;
    
}
.sponsers{margin:0 auto;
  padding:0px;
  display:block;
  
}
#sponser_table{
    margin:0 auto;
    padding:0;
    height:110px; 
    width:90px;
    float:left;
}

#sponser_credit{ 
    margin:0 auto;
    padding:0;
    height:100px; 
    width:200px;
    float:left;
    
}

#sponser_carwash{
    margin:0 auto;
    padding:0;
    height:80px; 
    width:80px;
    float:left;
    
}

#sponser_pelco{
    margin:0 auto;
    padding:0;
    height:100px; 
    width:200px;
    float:left;
}

#sponser_insurence{
    margin:0 auto;
    padding:0;
    height:100px; float:left;
    width:200px;
    float:left;
}
#sponser_eyeq{
    margin:0 auto;
    padding:0;
    float:left;
    
}

#sponser_pge{
    margin:0 auto;
    padding:0;
    height:80px;
    width:80px;
    float:left;
    
}

#sponser_fresno{
    margin:0 auto;
    padding:0;
     height:80px;
    width:80px;
   float:right;
}





