html;body{margin:0;
    padding:0;
    width:100%;
    font-size:62.5%;
    box-sizing:border-box;
    border:0;
}

body{margin:0 auto;
    padding:0;
    height:100%;
    width:100%;
    background-color:black;
}

header{
    height:13rem;
    width:100%;
    font-size:1.5rem;
    vertical-align:baseline;
    background-color:#962221;
}

#parade_img{height:200px;width:200px;
    float:left;}

header > nav{margin-top:.5rem;
width:100%;
}

header > nav > ul{display:inline-block;
list-style:none;
color:#ffffff;
}

header > nav > ul > li{margin:0 auto;
padding:0;
width:calc(100%/4);display:inline;
color:#ffffff;
}

#table_img{height:200px;
 width:150px;
 float:right;
}


main{margin:0 auto;
    padding:0;
    height:100%;
    width:90%;
    background-color:#ffffff;
}

#flag_img{height:342px;width:950px;
text-align:center;
}

p{
    margin:0 auto;
    border:50px;
    width:300px;
    height: 200px;
    font-size: 15px;
}


footer{background-color:#962221;
}

