html;body{margin:0;
    padding:0;
    width:100%;
    font-size:62.5%;
    box-sizing:border-box;
    border:0;
}

body{margin:0 auto;
    padding:0;
    height:100%;
    width:100%;
    background-color:black;
}

header{
    height:13rem;
    width:100%;
    font-size:1.5rem;
    vertical-align:baseline;
    background-color:#962221;
}

#parade_img{height:200px;width:200px;
    display:block;
    float:left;}

header > nav{margin-top:.5rem;
width:100%;
}

header > nav > ul{display:inline-block;
list-style:none;
color:#ffffff;
}

header > nav > ul > li{margin:0 auto;
padding:0;
width:calc(100%/4);display:inline;
    align-items: baseline center;
color:#ffffff;
}

#table_img{height:100px;
 width:75px;align-content:block;
    display:
 float:right;
}


main{margin:0 auto;
    padding:0;
    height:40rem;
    width:90%;
    background-color:#ffffff;
}

#flag_img{height:200px;width:500px;
text-align:center;
}

section{ margin:0 auto;
   height:height:100%;
    width:100%;
    box-sizing: border-box}

#times{
    margin:0 auto;
    border:50px;
    width:300px;
    height: 200px;
    font-size: 15px;
    float:left;
}

#info{margin:0 auto;
    padding:5px;
    height:200px;
    width:250px;
    box-sizing: border-box;
    float: right;}


footer{height:13rem;
    width:100%;
    font-size:1.5rem;
    vertical-align:baseline;
    background-color:#962221;
}
    
#navy{margin:0;
 padding:0;
 height:75px;
 width:75px;
 display:inline-block;
 float:left;
 color:ffffff;
    }

#air{margin:0;
 padding:0;
 height:75px;
 width:75px;
 display:inline-block;
 float:left;
 color:ffffff;
    }

#marine{margin:0;
 padding:0;
 height:75px;
 width:75px;
 display:inline-block;
 float:left;
 color:ffffff;
    }

#army{margin:0;
 padding:0;
 height:75px;
 width:75px;
 display:inline-block;
 float:left;
 color:ffffff;
    }
    
#coast{margin:0;
 padding:0;
 height:75px;
 width:75px;
 display:inline-block;
 float:left;
 color:ffffff;
    }
   
#gaurd{margin:0;
 padding:0;
 height:75px;
 width:75px;
 display:inline-block;
 float:left;
 color:ffffff;
    }
    
#facebook{margin:0;
 padding:0;
 height:30px;
 width:30px;
 display:inline-block;
 float:riht;
 color:ffffff;
    }
    

